# Section 1) Data set name submission (10%)

# Section 2) Explain your data set, how it is composed, and how you collected it (30%)

## Data description

There are 9 features from the questionnaire data to build the model, the following are 10 selected columns. Ten questions we aksed are Breathing Problem, Fever, Dry Caught, Sore throat, Running Nose, Chronic Lung Disease, Headache, Heart Disease, Diabetes, and Covid-19.
We would like to feed our model with first 9 sympptoms to predict Covid-19.

We would like to feed our model with first 9 sympptoms to predict Covid-19.

## Data explanation

The data is collected from SurveyMonkey and XM survey systems. They are simple to use web-based survey tool to conduct survey research, evaluations and other data collection activities. We created our survey in these two systems and distributed the link through our social media.
In our survey, some people replied "No" to all the questions. Therefore, we remove these noise data.

# Section 3) Load of the data set (10%)

In [20]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [23]:
from dataprep.eda import *
from dataprep.eda.missing import plot_missing
from dataprep.eda import plot_correlation

ModuleNotFoundError: No module named 'dataprep'

In [9]:
data = pd.read_csv('Yuan_and Wu_week10_data.csv')

# Section 4) Display data (50%)

In [ ]:
import numpy as np

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 10 columns):
Q1     68 non-null object
Q2     68 non-null object
Q3     68 non-null object
Q4     67 non-null object
Q5     68 non-null object
Q6     68 non-null object
Q7     68 non-null object
Q8     68 non-null object
Q9     68 non-null object
Q10    68 non-null object
dtypes: object(10)
memory usage: 5.4+ KB

In [15]:
data.head(10)

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,Breathing Problem,Fever,Dry Cough,Sore throat,Running Nose,Chronic Lung Disease,Headache,Heart Disease,Diabetes,Covid-19
1,Yes,Yes,Yes,Yes,Yes,No,No,No,Yes,Yes
2,Yes,Yes,Yes,No,No,No,No,Yes,No,No
3,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
4,Yes,Yes,No,Yes,Yes,Yes,No,No,No,Yes
5,Yes,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes
6,Yes,Yes,Yes,No,Yes,No,Yes,Yes,No,No
7,Yes,Yes,Yes,No,Yes,No,Yes,No,Yes,No
8,Yes,Yes,Yes,Yes,Yes,No,No,No,Yes,Yes
9,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes

In [16]:
data.describe(include = 'all')

         Q1   Q2   Q3   Q4   Q5  Q6   Q7  Q8  Q9  Q10
count    68   68   68   67   68  68   68  68  68   68
unique    3    3    3    3    3   3    3   3   3    3
top     Yes  Yes  Yes  Yes  Yes  No  Yes  No  No  Yes
freq     35   47   50   40   37  40   44  45  34   38

In [25]:
plot_missing(data)

NameError: name 'plot_missing' is not defined